<app-topmenu></app-topmenu>
<header class="wrapper">
  <!-- <section class="istok-web-bold mt-[150px] text-[16vw] sm:text-[80px]">
    <h1 class="">Consulting</h1>
  </section> -->
</header>
<main class="wrapper">
  <section
    class="flex flex-col 2xl:flex-row gap-[20px] md:gap-[40px] items-center mt-[166px]"
  >
    <figure
      class="w-[100%] 2xl:h-[400px] 2xl:w-[400px] rounded-t-[80px] 2xl:rounded-[80px] overflow-clip shrink-0 bg-[#A1C4C0] flex flex-col justify-center items-center p-6"
    >
      <div class="flex flex-col items-center">
        <img
          class="rounded-full h-[270px] border-[15px]"
          src="./assets/img/profiles/Marco-Weber.webp"
          alt="Marco Weber profile picture"
        />
      </div>
    </figure>
    <div
      id="first-right__div"
      class="font-Inter font-normal 2xl:h-[400px] rounded-b-[80px] 2xl:rounded-br-none 2xl:rounded-l-[80px] text-[4vw] xl:text-[27px] p-[30px] flex justify-center items-center w-full"
    >
      <h1
        class="istok-web-bold font-semibold py-2 text-[24px] sm:text-[40px] xl:text-[60px] text-stone-500"
      >
        Marco Weber
      </h1>
    </div>
  </section>
  <section
    class="mt-[40px] md:mt-[66px] bg-[#007FBB] p-[20px] md:p-[50px] rounded-t-[80px] drop-shadow-md"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <div class="font-Inter font-normal text-[4vw] xl:text-[27px]">
        <h2
          class="font-semibold py-2 px-2 text-[calc(4vw + 10px)] xl:text-[37px] text-white"
        >
          Founder Onlinecoachings.com / Intercultural Sales Coach / Business
          Consultant / Major Donor Fundraiser / On Purpose Berlin Fellow &
          Mentor
        </h2>
      </div>
    </div>
  </section>
  <section
    class="mt-[-20px] border bg-white p-[40px] md:p-[80px] rounded-b-[80px] font-Inter font-normal text-[4vw] xl:text-[27px] drop-shadow-md"
  >
    <div>
      <cite
        class="ml-[20px] font-Inter font-normal 2xl:mt-4 text-[4vw] xl:text-[27px]"
      >
        "Change starts with yourself."
      </cite>
    </div>
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    ></div>
  </section>
  <section
    class="flex flex-col-reverse 2xl:flex-row gap-[20px] md:gap-[40px] items-center mt-[66px] 2xl:mt-[100px]"
  >
    <div
      class="w-full 2xl:h-[620px] font-Inter font-normal text-[4vw] xl:text-[27px] bg-[#F1EDED] rounded-b-[80px] 2xl:rounded-br-none 2xl:rounded-l-[80px] py-[30px] px-[50px]"
    >
      <h2 class="istok-web-bold font-semibold py-2 text-[26px] md:text-[48px]">
        Expertise
      </h2>
      <ul class="p-2">
        <li>Business Development</li>
        <li>Intercultural Sales Coaching</li>
        <li>Sales Team Build-Up & Process Optimization</li>
        <li>CRM Systems</li>
        <li>Digital Advertising</li>
        <li>Intercultural Communication</li>
        <li>Leadership Development</li>
      </ul>
      <!-- <p>
        Develop smart solutions for cross-cultural challenges. Business Target:
        Reach a fast break-even.
      </p> -->
    </div>
    <figure
      class="w-[100%] h-[150px] md:h-[300px] 2xl:h-[620px] 2xl:w-[400px] rounded-t-[80px] 2xl:rounded-tl-none 2xl:rounded-r-[80px] overflow-clip shrink-0"
    >
      <img class="h-[620px] w-full" src="./assets/img/boat-800.webp" alt="" />
    </figure>
  </section>
  <section
    class="mt-[66px] 2xl:mt-[100px] bg-[#b7deda] p-[20px] md:p-[50px] rounded-t-[80px]"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <div class="font-Inter font-normal text-[4vw] xl:text-[27px] p-[20px]">
        <h2
          class="istok-web-bold font-semibold py-2 text-[26px] md:text-[48px] float-end"
        >
          Industries (selection)
        </h2>
        <p
          class="font-Inter mt-[50px] xl:mt-[40px] font-normal text-[4vw] xl:text-[27px] rounded-b-[80px] 2xl:rounded-bl-none 2xl:rounded-br-[80px] xl:p-[50px]"
        >
          Chemical / Energy / Oil & Gas / PaaS / SaaS / Food & Beverage /
          Chemical / Pharmaceutical / Medical Equipment / Air Purification &
          Liquid Filtration Technology / Automotive Software Engineering /
          Agricultural Goods
        </p>
      </div>
    </div>
  </section>
  <section
    class="flex flex-col 2xl:flex-row gap-[20px] md:gap-[40px] items-center mt-[20px] md:mt-[40px]"
  >
    <figure
      class="w-[100%] mt-[-20px] xl:mt-0 2xl:h-[400px] 2xl:w-[400px] 2xl:rounded-bl-[80px] overflow-clip shrink-0"
    >
      <img class="w-full" src="./assets/img/world-globe-800.webp" alt="" />
    </figure>
    <div
      class="font-Inter mt-[-20px] xl:mt-0 font-normal 2xl:h-[400px] text-[4vw] xl:text-[27px] bg-[#D9D9D9] rounded-b-[80px] 2xl:rounded-bl-none 2xl:rounded-br-[80px] p-[50px] w-full"
    >
      <h2 class="istok-web-bold font-semibold py-2 text-[26px] md:text-[48px]">
        Engagements delivered in
      </h2>
      <ul>
        <li>
          Africa (Tansania, Tunesia, Sambia, Ethiopia) Asia-Pacific (China,
          India, South Korea, Japan, Cambodia, Vietnam) Europe (France, Italy,
          Great Britain, Germany, Spain, Switzerland) North America (Canada,
          USA, Mexico)
        </li>
      </ul>
      <!-- <p class="2xl:mt-4">
    </p> -->
    </div>
  </section>

  <section
    class="mt-[66px] md:mt-[100px] bg-[#0080bb7d] p-[20px] md:p-[50px] rounded-r-[80px] rounded-b-[80px]"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <div class="font-Inter font-normal text-[4vw] xl:text-[27px]">
        <h2
          class="istok-web-bold font-semibold py-2 text-[26px] md:text-[48px]"
        >
          Qualifications
        </h2>
        <figure class="xl:hidden">
          <svg
            style="fill: #05618d; margin: 0 auto"
            xmlns="http://www.w3.org/2000/svg"
            height="200"
            viewBox="0 -960 960 960"
            width="200"
          >
            <path
              d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"
            />
          </svg>
        </figure>
        <ul class="font-Inter font-normal mt-2 text-[4vw] xl:text-[27px] p-6">
          <li>Senior Coach & Cross-Cultural Management Consultant</li>
          <li>Certified Virtual Coach (OCL)</li>
          <li>Master Class Major Donor Fundraising</li>
          <li>Certified Onpurpose Fellow & Mentor</li>
        </ul>
      </div>
      <figure class="hidden xl:block">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="250"
          viewBox="0 -960 960 960"
          width="250"
          style="fill: #05618d; margin: 0 auto"
        >
          <path
            d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"
          />
        </svg>
      </figure>
    </div>
  </section>
  <!-- <section
    class="mt-[20px] md:mt-[66px] bg-[#F1EDED] p-[20px] md:p-[50px] rounded-t-[80px] rounded-br-[80px] font-Inter font-normal text-[4vw] xl:text-[27px]"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="250"
          viewBox="0 -960 960 960"
          width="250"
          class="my-0 mx-auto fill-[#05618d]"
        >
          <path
            d="M361-80q-14 0-24.5-7.5T322-108L220-440H80v-80h170q13 0 23.5 7.5T288-492l66 215 127-571q3-14 14-23t25-9q14 0 25 8.5t14 22.5l87 376 56-179q4-13 14.5-20.5T740-680q13 0 23 7t15 19l50 134h52v80h-80q-13 0-23-7t-15-19l-19-51-65 209q-4 13-15 21t-25 7q-14-1-24-9.5T601-311l-81-348-121 548q-3 14-13.5 22T361-80Z"
          />
        </svg>
      </figure>
      <div>
        <h2 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
          Worth mentioning
        </h2>
        <p class="font-medium mb-2">
          Start-ups co-founded in these industries:
        </p>
        <p>
          Media Publishing, Event Photography, Tourism Operator, Regional Food
          Marketing, E-Commerce, Inercultural Consulting, Real Estate,
          Sustainable Pet Food Production, Entertainment & Recreation.
        </p>
      </div>
    </div>
  </section> -->
  <section
    class="mt-[66px] md:mt-[100px] flex flex-col 2xl:flex-row gap-[20px] md:gap-[66px] items-center"
  >
    <div
      class="w-[100%] 2xl:h-[400px] 2xl:w-[400px] p-[30px] md:p-[50px] rounded-r-[80px] overflow-clip shrink-0 bg-[#b7deda] font-Inter font-normal text-[4vw] xl:text-[27px]"
    >
      <h1 class="istok-web-bold font-semibold py-2 text-[26px] md:text-[48px]">
        Languages
      </h1>
      <ul class="2xl:mt-4">
        <li>German (native)</li>
        <li>English (C2)</li>
        <li>French (C1)</li>
      </ul>
    </div>
    <div
      class="font-Inter font-normal 2xl:h-[400px] text-[4vw] xl:text-[27px] bg-[#D9D9D9] rounded-l-[80px] p-[30px] md:p-[50px]"
    >
      <h2 class="istok-web-bold font-semibold py-2 text-[26px] md:text-[48px]">
        Worth mentioning
      </h2>
      <p class="font-medium mb-2 2xl:mt-4">Cross-sectoral expertise:</p>
      <p>
        Founder with 15 years of sales experience, certified business coach,
        former team leader, major donor fundraiser with a deep commitment to
        social causes and impactful change.
      </p>
    </div>
  </section>

  <section
    class="mt-[66px] md:mt-[100px] bg-[#0080bb7d] box__shadow p-[20px] md:p-[50px] rounded-[60px]"
  >
    <div
      class="flex flex-col font-Inter font-normal text-[4vw] xl:text-[27px] text-center"
    >
      <h2 class="istok-web-bold text-[40px] md:text-[60px]">
        Where to find me.
      </h2>
      <div class="p-6 flex justify-around">
        <button class="cursor-pointer hover:opacity-60">
          <a
            href="https://www.linkedin.com/in/marco-weber-coach/"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              shape-rendering="geometricPrecision"
              text-rendering="geometricPrecision"
              image-rendering="optimizeQuality"
              fill-rule="evenodd"
              clip-rule="evenodd"
              viewBox="0 0 512 512"
              class="bg-white rounded-xl overflow-clip h-[60px] md:h-[100px] w-[60px] md:w-[100px]"
            >
              <path
                fill="#05618D"
                d="M474.919 0H38.592C17.72 0 0 16.504 0 36.841V475.14C0 495.496 11.629 512 32.492 512h436.327C489.718 512 512 495.496 512 475.14V36.841C512 16.504 495.809 0 474.919 0zM195.043 195.043h68.928v35.136h.755c10.505-18.945 41.541-38.177 79.921-38.177 73.655 0 94.214 39.108 94.214 111.538v135.321h-73.148V316.883c0-32.427-12.947-60.883-43.227-60.883-36.768 0-54.295 24.889-54.295 65.758v117.103h-73.148V195.043zM73.139 438.861h73.148V195.043H73.139v243.818zm82.289-329.148c0 25.258-20.457 45.715-45.715 45.715-25.258 0-45.715-20.457-45.715-45.715 0-25.258 20.457-45.715 45.715-45.715 25.258 0 45.715 20.457 45.715 45.715z"
              />
            </svg>
          </a>
        </button>

        <button class="cursor-pointer hover:opacity-60">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 122.88 122.88"
            class="fill-[#64ADA5] w-[60px] h-[60px] md:w-[100px] md:h-[100px] bg-white rounded-2xl md:rounded-3xl overflow-clip"
          >
            <path
              class="cls-1"
              d="M25.2,0H97.68a25.27,25.27,0,0,1,25.2,25.2V97.68a25.27,25.27,0,0,1-25.2,25.2H25.2A25.27,25.27,0,0,1,0,97.68V25.2A25.27,25.27,0,0,1,25.2,0Zm4.1,37.59L62,64.26,93.33,37.59ZM27.19,82.48l23.3-23.37-23.3-19V82.48ZM53.06,61.21,29,85.29H93.65l-23-24.08-7.57,6.45h0a1.66,1.66,0,0,1-2.12,0l-7.94-6.48ZM73.2,59.07,95.69,82.66V39.9L73.2,59.07Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </section>
</main>
<footer class="mt-[100px]">
  <app-footer></app-footer>
</footer>
