<app-topmenu></app-topmenu>
<header class="wrapper">
  <section class="istok-web-bold mt-[150px] text-[12vw] sm:text-[80px]">
    <h1 class="">Training & Development</h1>
  </section>
</header>
<main class="wrapper">
  <section
    class="mt-[20px] md:mt-[66px] bg-[#F1EDED] p-[20px] md:p-[50px] rounded-[80px] font-Inter font-normal text-[4vw] xl:text-[27px]"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="h-[10vw] w-[10vw] xl:h-[150px] xl:w-[150px] my-0 mr-auto xl:ml-auto fill-[#05618d]"
        >
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="m226-559 78 33q14-28 29-54t33-52l-56-11-84 84Zm142 83 114 113q42-16 90-49t90-75q70-70 109.5-155.5T806-800q-72-5-158 34.5T492-656q-42 42-75 90t-49 90Zm178-65q-23-23-23-56.5t23-56.5q23-23 57-23t57 23q23 23 23 56.5T660-541q-23 23-57 23t-57-23Zm19 321 84-84-11-56q-26 18-52 32.5T532-299l33 79Zm313-653q19 121-23.5 235.5T708-419l20 99q4 20-2 39t-20 33L538-80l-84-197-171-171-197-84 167-168q14-14 33.5-20t39.5-2l99 20q104-104 218-147t235-24ZM157-321q35-35 85.5-35.5T328-322q35 35 34.5 85.5T327-151q-25 25-83.5 43T82-76q14-103 32-161.5t43-83.5Zm57 56q-10 10-20 36.5T180-175q27-4 53.5-13.5T270-208q12-12 13-29t-11-29q-12-12-29-11.5T214-265Z"
          />
        </svg>
      </figure>
      <div class="flex justify-center items-center">
        <h2 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
          Elevate Your Global Business Skills
        </h2>
      </div>
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="h-[10vw] w-[10vw] xl:h-[150px] xl:w-[150px] my-0 ml-auto xl:mr-auto fill-[#05618d]"
        >
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="m260-260 300-140 140-300-300 140-140 300Zm220-180q-17 0-28.5-11.5T440-480q0-17 11.5-28.5T480-520q17 0 28.5 11.5T520-480q0 17-11.5 28.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
          />
        </svg>
      </figure>
    </div>
  </section>
  <section
    class="flex flex-col 2xl:flex-row gap-[20px] md:gap-[40px] items-center mt-[120px]"
  >
    <div
      class="font-Inter mt-[-20px] xl:mt-0 font-normal 2xl:h-[400px] text-[4vw] xl:text-[27px] bg-[#D9D9D9] rounded-t-[80px] 2xl:rounded-tr-none p-[50px]"
    >
      <p class="2xl:mt-4">
        Develop the essential skills for global business success. Our senior
        trainers, armed with extensive industry experience, provide tailored
        training programs to enhance your communication, leadership, and
        cross-cultural competence.
      </p>
    </div>
    <figure
      class="w-[100%] mt-[-20px] xl:mt-0 2xl:h-[400px] 2xl:w-[400px] 2xl:rounded-tr-[80px] overflow-clip shrink-0"
    >
      <img class="w-full" src="./assets/img/training-800.webp" alt="" />
    </figure>
  </section>
  <section
    class="mt-[-20px] md:mt-[20px] xl:mt-[40px] bg-[#b7deda] p-[20px] md:p-[50px] rounded-b-[80px]"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <div class="font-Inter font-semibold text-[4vw] xl:text-[27px] p-[20px]">
        <p class="2xl:mt-4">
          Examples of training topics we are happy to provide and teach:
        </p>
      </div>
    </div>
  </section>
  <section
    class="mt-[86px] md:mt-[133px] flex flex-col-reverse 2xl:flex-row gap-[20px] md:gap-[66px] items-center"
  >
    <div
      class="mt-[-66px] md:mt-[-40px] 2xl:mt-0 font-Inter font-normal w-full 2xl:h-[400px] text-[4vw] xl:text-[27px] bg-[#F1EDED] rounded-b-[80px] 2xl:rounded-bl-none 2xl:rounded-r-[80px] p-[30px] md:p-[50px]"
    >
      <h1 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Working successfully in a multinational corporation
      </h1>
      <ul class="2xl:mt-4">
        <li class="list-disc ml-[40px]">
          Develop excellence at pro-active communication
        </li>
        <li class="list-disc ml-[40px]">sense of responsibility,</li>
        <li class="list-disc ml-[40px]">customer-orientation,</li>
        <li class="list-disc ml-[40px]">and out-of-the-box thinking.</li>
      </ul>
    </div>
    <div
      class="w-[100%] h-[200px] md:h-[300px] 2xl:h-[400px] 2xl:w-[400px] p-[30px] md:p-[50px] rounded-t-[80px] 2xl:rounded-tr-none 2xl:rounded-l-[80px] overflow-clip shrink-0 bg-[#BFDFEE] font-Inter font-normal text-[4vw] xl:text-[27px] flex justify-center items-center"
    >
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="300"
          viewBox="0 -960 960 960"
          width="300"
          style="fill: #64ada5; margin: 0 auto"
        >
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M480-80q-66 0-127.5-20.5T240-160l58-58q42 29 88 43.5t94 14.5q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480H80q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80ZM159-243l163-163 120 100 198-198v104h80v-240H480v80h104L438-414 318-514 117-313q11 23 19.5 37.5T159-243Zm321-237Z"
          />
        </svg>
      </figure>
    </div>
  </section>
  <section
    class="mt-[20px] md:mt-[66px] flex flex-col 2xl:flex-row gap-[20px] md:gap-[66px] items-center"
  >
    <div
      class="w-[100%] h-[150px] md:h-[300px] 2xl:h-[400px] 2xl:w-[400px] rounded-t-[80px] 2xl:rounded-r-[80px] 2xl:rounded-tl-none overflow-clip shrink-0 bg-[#b7deda] font-Inter font-normal text-[4vw] xl:text-[27px]"
    >
      <figure>
        <img
          class="w-full"
          src="./assets/img/ally-griffin-360.webp"
          alt="An abstract image in green tone"
        />
      </figure>
    </div>
    <div
      class="mt-[-20px] md:mt-[-40px] 2xl:mt-0 font-Inter font-normal 2xl:h-[400px] text-[4vw] xl:text-[27px] bg-[#D9D9D9] rounded-b-[80px] 2xl:rounded-br-none 2xl:rounded-l-[80px] p-[30px] md:p-[50px]"
    >
      <h2 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Excellent performance at international meetings
      </h2>
      <p class="2xl:mt-4">
        Clear understanding about international audience expectations, and ways
        to meet and exceed them. Presentations skills in physical and virtual
        environments.
      </p>
    </div>
  </section>
  <section
    class="mt-[20px] md:mt-[66px] flex flex-col-reverse 2xl:flex-row gap-[20px] md:gap-[66px] items-center"
  >
    <div
      class="mt-[-66px] md:mt-[-40px] 2xl:mt-0 font-Inter font-normal w-full 2xl:h-[400px] text-[4vw] xl:text-[27px] bg-[#F1EDED] rounded-b-[80px] 2xl:rounded-bl-none 2xl:rounded-r-[80px] p-[30px] md:p-[50px]"
    >
      <h1 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Leading international Teams successfully
      </h1>
      <p>(focus on Romanian, German & Austrian teams)</p>
      <p>
        Romania-specific leadership skills (for expatriates). How to lead and
        inspire Romanian teams successfully. Develop cross-cultural leadership
        skills. Create high-performing local teams.
      </p>
    </div>
    <div
      class="w-[100%] h-[200px] md:h-[300px] 2xl:h-[400px] 2xl:w-[400px] p-[30px] md:p-[50px] rounded-t-[80px] 2xl:rounded-tr-none 2xl:rounded-l-[80px] overflow-clip shrink-0 bg-[#b7deda] font-Inter font-normal text-[4vw] xl:text-[27px] flex justify-center items-center"
    >
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="300"
          viewBox="0 -960 960 960"
          width="300"
          style="fill: #05618d; margin: 0 auto"
        >
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"
          />
        </svg>
      </figure>
    </div>
  </section>
  <section
    class="mt-[20px] md:mt-[66px] flex flex-col 2xl:flex-row gap-[20px] md:gap-[66px] items-center"
  >
    <div
      class="w-[100%] h-[150px] md:h-[300px] 2xl:h-[400px] 2xl:w-[400px] rounded-t-[80px] 2xl:rounded-r-[80px] 2xl:rounded-tl-none overflow-clip shrink-0 bg-[#b7deda] font-Inter font-normal text-[4vw] xl:text-[27px]"
    >
      <figure>
        <img
          class="w-full"
          src="./assets/img/johannes-plenio-800.webp"
          alt="An abstract image in green tone"
        />
      </figure>
    </div>
    <div
      class="mt-[-20px] md:mt-[-40px] 2xl:mt-0 font-Inter font-normal 2xl:h-[400px] text-[4vw] xl:text-[27px] bg-[#D9D9D9] rounded-b-[80px] 2xl:rounded-br-none 2xl:rounded-l-[80px] p-[30px] md:p-[50px]"
    >
      <h2 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Quiet the Noise: Managing Inner Saboteurs for Success
      </h2>
      <p>
        Our inner saboteurs are those sneaky voices that undermine our efforts
        and often our relationships. When we can spot them and know how to
        mentally and emotionally self-regulate, we'll be able to keep our cool
        in stressful situations.
      </p>
    </div>
  </section>
  <section
    class="mt-[66px] md:mt-[133px] bg-[#BFDFEE] p-[20px] md:p-[50px] rounded-t-[80px]"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <div class="font-Inter font-normal text-[4vw] xl:text-[27px]">
        <h2
          class="font-semibold py-2 px-2 text-[calc(4vw + 10px)] xl:text-[37px]"
        >
          Navigating Bias: Strategies for Addressing Unconscious Bias
        </h2>
        <figure class="xl:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="200"
            viewBox="0 -960 960 960"
            width="200"
            style="fill: #05618d; margin: 0 auto"
          >
            <path
              xmlns="http://www.w3.org/2000/svg"
              d="M500-780q0 33-23.5 56.5T420-700q-13 0-24-3.5T374-715q-24 8-38.5 29T321-640h519l-40 280H604v-80h127q5-30 8.5-60t8.5-60H212q5 30 8.5 60t8.5 60h127v80H160l-40-280h120q0-49 27-89t73-59q3-31 26-51.5t54-20.5q33 0 56.5 23.5T500-780ZM391-200h178l23-240H368l23 240Zm-71 80-30-312q-4-35 20-61.5t59-26.5h222q35 0 59 26.5t20 61.5l-30 312H320Z"
            />
          </svg>
        </figure>
        <ul
          class="ml-[20px] font-Inter font-normal mt-2 text-[4vw] xl:text-[27px] p-[20px]"
        >
          <li class="list-disc">
            Understand how biases appear and how we reinforce them Discover your
            own biases - yes, you too have them too.
          </li>
          <li class="list-disc">
            Learn to look beyond stereotypes Understand where we typically find
            bias in the workplace and how it affects the team.
          </li>
          <li class="list-disc">
            Explore ways to reduce biases and their impact on your team.
          </li>
          <li class="list-disc">
            Find out how to train your mental flexibility in order to increase
            objectivity and inclusiveness.
          </li>
        </ul>
      </div>
      <figure class="hidden xl:block">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="250"
          viewBox="0 -960 960 960"
          width="250"
          style="fill: #05618d; margin: 0 auto"
        >
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M500-780q0 33-23.5 56.5T420-700q-13 0-24-3.5T374-715q-24 8-38.5 29T321-640h519l-40 280H604v-80h127q5-30 8.5-60t8.5-60H212q5 30 8.5 60t8.5 60h127v80H160l-40-280h120q0-49 27-89t73-59q3-31 26-51.5t54-20.5q33 0 56.5 23.5T500-780ZM391-200h178l23-240H368l23 240Zm-71 80-30-312q-4-35 20-61.5t59-26.5h222q35 0 59 26.5t20 61.5l-30 312H320Z"
          />
        </svg>
      </figure>
    </div>
  </section>
  <section
    class="mt-[-20px] md:mt-[20px] xl:mt-[40px] bg-[#F1EDED] p-[20px] md:p-[50px] rounded-b-[80px] font-Inter font-normal text-[4vw] xl:text-[27px]"
  >
    <h2 class="font-semibold py-2 px-2 text-[calc(4vw + 10px)] xl:text-[37px]">
      LinkedIn Hacks
    </h2>
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="250"
          viewBox="0 -960 960 960"
          width="250"
          class="my-0 mx-auto fill-[#05618d]"
        >
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M120-120v-80h720v80H120Zm74-200L80-514l62-12 70 62 192-52-162-274 78-24 274 246 200-54q32-9 58 12t26 56q0 22-13.5 39T830-492L194-320Z"
          />
        </svg>
      </figure>
      <div>
        <ul
          class="ml-[20px] font-Inter font-normal 2xl:mt-4 text-[4vw] xl:text-[27px] p-[20px]"
        >
          <li class="font-medium mb-[10px]">
            Get your LinkedIn profile going with:
          </li>
          <li class="list-disc">
            Essential elements of your account and how to set them up.
          </li>
          <li class="list-disc">Important account settings.</li>
          <li class="list-disc">Tips for growing your network.</li>
          <li class="list-disc">How to increase engagement with your posts.</li>
          <li class="list-disc">
            What are the best days and times for posting.
          </li>
          <li class="list-disc">Increasing your Social selling index.</li>
        </ul>
      </div>
    </div>
  </section>
  <section
    class="mt-[66px] 2xl:mt-[100px] bg-[#b7deda] p-[20px] md:p-[50px] rounded-t-[80px]"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <div class="font-Inter font-normal text-[4vw] xl:text-[27px] p-[20px]">
        <h2 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
          From Fixed to Growth Mindset
        </h2>
        <p>
          Our mindset determines how we look at our successes and failures. It
          influences how we perceive our own experiences and determines the way
          in which we react mentally, emotionally, from a cognitive and
          behavioral perspective.
        </p>
      </div>
    </div>
  </section>
  <section
    class="flex flex-col 2xl:flex-row gap-[20px] md:gap-[40px] items-center mt-[20px] md:mt-[40px]"
  >
    <figure
      class="w-[100%] mt-[-20px] xl:mt-0 2xl:h-[400px] 2xl:w-[400px] 2xl:rounded-bl-[80px] overflow-clip shrink-0"
    >
      <img class="w-full" src="./assets/img/corporate-art-b-800.webp" alt="" />
    </figure>
    <div
      class="font-Inter w-full mt-[-20px] xl:mt-0 font-normal 2xl:h-[400px] text-[4vw] xl:text-[27px] bg-[#D9D9D9] rounded-b-[80px] 2xl:rounded-bl-none 2xl:rounded-br-[80px] p-[20px]"
    >
      <ul
        class="ml-[20px] font-Inter font-normal text-[4vw] xl:text-[27px] p-[20px]"
      >
        <li class="font-medium mb-[10px]">Learn:</li>
        <li class="list-disc">
          Essential elements of your account and how to set them up.
        </li>
        <li class="list-disc">
          How to reframe difficulties or failures in order to turn them into
          opportunities
        </li>
        <li class="list-disc">
          What to do in order to strengthen your growth mindset
        </li>
        <li class="list-disc">
          Tips for triggering your growth mindset when you need it
        </li>
        <li class="list-disc">
          How to encourage growth mindset in your organization
        </li>
      </ul>
    </div>
  </section>

  <section
    class="flex flex-col 2xl:flex-row gap-[20px] md:gap-[40px] items-center mt-[66px] 2xl:mt-[100px]"
  >
    <figure
      class="w-[100%] h-[150px] md:h-[300px] 2xl:h-[400px] 2xl:w-[400px] rounded-t-[80px] 2xl:rounded-tr-none 2xl:rounded-l-[80px] overflow-clip shrink-0"
    >
      <img class="w-full" src="./assets/img/glass-board-800.webp" alt="" />
    </figure>
    <div
      class="2xl:h-[400px] font-Inter font-normal text-[4vw] xl:text-[27px] bg-[#a1c4c0] rounded-b-[80px] 2xl:rounded-bl-none 2xl:rounded-r-[80px] p-[30px]"
    >
      <!-- class="font-Inter font-normal text-[4vw] xl:text-[27px] p-[20px]" -->
      <h2 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Successful Change of Management
      </h2>
      <p>
        Move your international organization from A to B. Benefit from shining
        examples and don’t repeat the epic fails of others. Win all involved
        people in favor of their new roles, tasks, responsibilities. Implement
        your new structure better, faster, smoother.
      </p>
    </div>
  </section>
  <section
    class="flex flex-col 2xl:flex-row gap-[20px] md:gap-[40px] items-center mt-[66px] 2xl:mt-[100px]"
  >
    <div
      class="2xl:h-[400px] font-Inter font-normal text-[4vw] xl:text-[27px] bg-[#a1c4c0] rounded-b-[80px] 2xl:rounded-bl-none 2xl:rounded-r-[80px] p-[30px]"
    >
      <!-- class="font-Inter font-normal text-[4vw] xl:text-[27px] p-[20px]" -->
      <h2 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Cross-Cultural Facilitation for M&A
      </h2>
      <p>
        Develop smart solutions for cross-cultural challenges. Business Target:
        Reach a fast break-even.
      </p>
    </div>
    <figure
      class="w-[100%] h-[150px] md:h-[300px] 2xl:h-[400px] 2xl:w-[400px] rounded-t-[80px] 2xl:rounded-tr-none 2xl:rounded-l-[80px] overflow-clip shrink-0"
    >
      <img class="w-full" src="./assets/img/glass-board-800.webp" alt="" />
    </figure>
  </section>
  <section
    class="mt-[120px] md:mt-[140px] bg-[#dcdcdc] box__shadow p-[20px] md:p-[50px] rounded-[60px]"
  >
    <div
      class="flex flex-col font-Inter font-normal text-[4vw] xl:text-[27px] text-center"
    >
      <p>Let's transform your global ambitions into reality.</p>
      <div class="p-6">
        <button
          class="py-[10px] px-[60px] rounded-full drop-shadow-lg bg-[#3771C8] text-white font-medium"
        >
          Contact us
        </button>
      </div>
      <p>to explore how we can empower your success.</p>
    </div>
  </section>
</main>
<footer class="mt-[100px]">
  <app-footer></app-footer>
</footer>
