<app-topmenu></app-topmenu>
<header class="wrapper">
  <section class="istok-web-bold mt-[150px] text-[12vw] sm:text-[50px]">
    <h1 class="">Photo Gallery</h1>
  </section>
</header>
<main class="wrapper min-h-[calc(100vh-540px)]">
  <section class="gallery__top flex flex-col lg:flex-row justify-center gap-5">
    <div
      class="gallery__top_left w-full lg:w-1/2 flex flex-col gap-5 items-center"
    >
      <figure
        (click)="openImage('gallery-1-3800.webp')"
        class="w-full cursor-pointer"
      >
        <div class="card">
          <div class="card__inner">
            <div class="card__front">
              <img
                class="w-full"
                src="./assets/img/gallery/gallery-1-600.webp"
                alt=""
              />
            </div>
            <div
              class="card__back flex justify-center items-center bg-black p-8"
            >
              <figcaption
                class="text-white font-semibold sm:text-[30px] w-full text-center"
              >
                Group Workshop at Bucarest on May 4th, 2014.
              </figcaption>
            </div>
          </div>
        </div>
      </figure>
      <figure
        (click)="openImage('gallery-2-3000.webp')"
        class="cursor-pointer w-full"
      >
        <div class="card">
          <div class="card__inner">
            <div class="card__front">
              <img
                class="w-full"
                src="./assets/img/gallery/gallery-2-600.webp"
                alt=""
              />
            </div>
            <div
              class="card__back flex justify-center items-center bg-black p-8"
            >
              <figcaption
                class="text-white font-semibold sm:text-[30px] w-full text-center"
              >
                Expats Bucarest Meeting on June 1st, 2016.
              </figcaption>
            </div>
          </div>
        </div>
      </figure>
    </div>
    <div class="gallery__top_right w-full lg:w-1/2 flex flex-col items-center">
      <div class="gallery__top_right_row flex gap-5">
        <figure
          (click)="openImage('gallery-3-1000.webp')"
          class="cursor-pointer w-1/2"
        >
          <div class="card">
            <div class="card__inner">
              <div class="card__front">
                <img
                  class="w-full"
                  src="./assets/img/gallery/gallery-3-600.webp"
                  alt=""
                  srcset=""
                />
              </div>
              <div
                class="card__back flex justify-center items-center bg-black p-8"
              >
                <figcaption
                  class="text-white font-semibold sm:text-[30px] w-full text-center"
                >
                  Rafting tour. Summer 2012.
                </figcaption>
              </div>
            </div>
          </div>
        </figure>
        <figure
          (click)="openImage('gallery-4-3000.webp')"
          class="cursor-pointer w-1/2"
        >
          <div class="card">
            <div class="card__inner">
              <div class="card__front">
                <img
                  class="w-full"
                  src="./assets/img/gallery/gallery-4-600.webp"
                  alt=""
                  srcset=""
                />
              </div>
              <div
                class="card__back flex justify-center items-center bg-black p-8"
              >
                <figcaption
                  class="text-white font-semibold sm:text-[30px] w-full text-center"
                >
                  Expats Fair, Bucarest 2018.
                </figcaption>
              </div>
            </div>
          </div>
        </figure>
      </div>
      <div
        class="gallery__top_right_second_row flex justify-center mt-5 gap-5 w-full h-full"
      >
        <figure
          (click)="openImage('gallery-5-3000.webp')"
          class="cursor-pointer w-full"
        >
          <div class="card h-full">
            <div class="card__inner">
              <div class="card__front h-full">
                <img
                  class="w-full lg:h-full"
                  src="./assets/img/gallery/gallery-5-600.webp"
                  alt=""
                  srcset=""
                />
              </div>
              <div
                class="card__back flex justify-center items-center bg-black p-8"
              >
                <figcaption
                  class="text-white font-semibold sm:text-[30px] w-full text-center"
                >
                  Meet & Greet Networking Event, 2020.
                </figcaption>
              </div>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </section>
  <section
    class="gallery__bottom flex flex-col lg:flex-row justify-center gap-5 mt-5"
  >
    <div
      class="gallery__bottom_left w-full lg:w-1/2 flex flex-col items-center"
    >
      <div class="gallery__bottom_left_row flex gap-5">
        <figure
          (click)="openImage('gallery-7-3000.webp')"
          class="cursor-pointer w-1/2"
        >
          <div class="card">
            <div class="card__inner">
              <div class="card__front">
                <img
                  class="w-full"
                  src="./assets/img/gallery/gallery-7-600.webp"
                  alt=""
                  srcset=""
                />
              </div>
              <div
                class="card__back flex justify-center items-center bg-black p-8"
              >
                <figcaption
                  class="text-white font-semibold sm:text-[30px] w-full text-center"
                >
                  Group Welcoming event, 2017.
                </figcaption>
              </div>
            </div>
          </div>
        </figure>
        <figure
          (click)="openImage('gallery-9-1000.webp')"
          class="cursor-pointer w-1/2"
        >
          <div class="card">
            <div class="card__inner">
              <div class="card__front">
                <img
                  class="w-full"
                  src="./assets/img/gallery/gallery-9-600.webp"
                  alt=""
                  srcset=""
                />
              </div>
              <div
                class="card__back flex justify-center items-center bg-black p-8"
              >
                <figcaption
                  class="text-white font-semibold sm:text-[30px] w-full text-center"
                >
                  Open Gates Day, 2015.
                </figcaption>
              </div>
            </div>
          </div>
        </figure>
      </div>
      <div
        class="gallery__bottom_left_second_row flex justify-center mt-5 gap-5 w-full h-full"
      >
        <figure
          (click)="openImage('gallery-6-3000.webp')"
          class="cursor-pointer w-full"
        >
          <div class="card">
            <div class="card__inner">
              <div class="card__front">
                <img
                  class="w-full lg:h-full"
                  src="./assets/img/gallery/gallery-6-600.webp"
                  alt=""
                  srcset=""
                />
              </div>
              <div
                class="card__back flex justify-center items-center bg-black p-8"
              >
                <figcaption
                  class="text-white font-semibold sm:text-[30px] w-full text-center"
                >
                  Expats Survival Guide presentation 2018.
                </figcaption>
              </div>
            </div>
          </div>
        </figure>
      </div>
    </div>
    <div
      class="gallery__bottom_left w-full lg:w-1/2 flex flex-col gap-5 items-center"
    >
      <figure
        (click)="openImage('gallery-8-3000.webp')"
        class="cursor-pointer h-full w-full"
      >
        <div class="card h-full">
          <div class="card__inner">
            <div class="card__front h-full">
              <img
                class="h-full w-full"
                src="./assets/img/gallery/gallery-8-600.webp"
                alt=""
              />
            </div>
            <div
              class="card__back flex justify-center items-center bg-black p-8"
            >
              <figcaption
                class="text-white font-semibold sm:text-[30px] w-full text-center"
              >
                Taining Session, February 17th, 2023.
              </figcaption>
            </div>
          </div>
        </div>
      </figure>
      <figure
        (click)="openImage('gallery-10-3000.webp')"
        class="cursor-pointer w-full"
      >
        <div class="card">
          <div class="card__inner">
            <div class="card__front">
              <img
                class="w-full"
                src="./assets/img/gallery/gallery-10-600.webp"
                alt=""
              />
            </div>
            <div
              class="card__back flex justify-center items-center bg-black p-8"
            >
              <figcaption
                class="text-white font-semibold sm:text-[30px] w-full text-center"
              >
                Musical event, January 21st, 2017.
              </figcaption>
            </div>
          </div>
        </div>
      </figure>
    </div>
  </section>
</main>
<footer class="mt-[100px]">
  <app-footer></app-footer>
</footer>

@if(visorModalActive){
<app-photo-visor [photoVisorContent]="photoVisorContent"></app-photo-visor>
}
