<section class="sticky-menu">
  <div class="wrapper-menu">
    <div
      class="w-full bg-[#f1eded] h-[110px] rounded-full px-[20px] flex items-center border border-gray-200 drop-shadow-md"
    >
      <p
        class="istok-web-bold text-[30px] md:text-[40px] ml-[10px] md:ml-[40px]"
      >
        City Compass
      </p>
      <button
        class="bg-[#007Fbb] hidden sm:inline-block px-[16px] py-[6px] rounded-full mx-auto"
      >
        <span
          class="text-white text-[16px] md:text-[22px] font-Inter font-medium"
        >
          Contact us
        </span>
      </button>
      <nav
        class="ml-auto mr-[30px] font-Inter text-[24px] hidden 2xl:inline-block"
      >
        <ul class="flex items-center">
          <li>About us / &nbsp;</li>
          <li>International Consulting & Coaching / &nbsp;</li>
          <li>Services / &nbsp;</li>
          <li>Meet us</li>
        </ul>
      </nav>
      <button
        class="inline-block 2xl:hidden p-[5px] md:p-[10px] border border-gray-400 rounded-2xl ml-auto"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-12 w-12 md:w-16 md:h-16"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
