* {
  box-sizing: border-box;
}

.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 30px;
  z-index: 100;
}

.slider__menu {
  position: fixed;
  width: 350px;
  max-height: 60vh;
  overflow-y: auto;
  background: whitesmoke;
  margin-top: 2px;
  margin-left: 10px;
  transition: all ease-in-out 300ms;
}

.ham_btn_active {
  fill: gray;
  background: lightgray;
}

.slider__menu_closed {
  right: -370px;
}

.slider__menu_open {
  right: 20px;
}

.wrapper-menu {
  margin: 10px auto 0;
  padding: 0 20px;
}

@media (min-width: 500px) {
  .wrapper-menu {
    max-width: 1500px;
    margin: 10px auto 0;
    padding: 0 50px;
  }
  .slider__menu_open {
    right: 50px;
  }
}

@media (min-width: 1536px) {
  .wrapper-menu {
    max-width: 1500px;
    margin: 10px auto 0;
    padding: 0 50px;
  }

  .slider__menu_open {
    display: none;
  }
}
