<section class="sticky-menu">
  <div class="wrapper-menu">
    <div
      class="w-full bg-[#f1eded] h-[110px] rounded-full px-[10px] xl:px-[20px] flex items-center border border-gray-200 drop-shadow-md"
    >
      <p
        class="font-pt-sans font-bold text-[30px] xl:text-[35px] ml-[10px] md:ml-[40px]"
      >
        <a routerLink="/home"> City Compass </a>
      </p>
      <button
        class="bg-[#007Fbb] hidden sm:inline-block px-[16px] py-[6px] rounded-full mx-auto"
      >
        <a routerLink="/contact-us">
          <span
            class="text-white text-[26px] font-Inter font-medium hover:opacity-60 transition-all ease-in-out duration-200"
          >
            Contact us
          </span>
        </a>
      </button>
      <nav
        class="ml-auto mr-[30px] font-Inter text-[20px] 2xl:text-[24px] hidden lg:inline-block"
      >
        <ul class="flex items-center">
          <li>
            <a routerLink="/about-us"> About us </a>
            /&nbsp;
          </li>
          <li>
            <a routerLink="/services/consulting">Consulting </a>
            /&nbsp;
          </li>
          <li>
            <a routerLink="/services/coaching">Coaching </a>
            /&nbsp;
          </li>
          <li>
            <a routerLink="/services/training">Training </a>
            /&nbsp;
          </li>
          <li>
            <a routerLink="/services">Services </a>
          </li>
          <!-- / &nbsp; -->
          <!-- <li>Meet us</li> -->
        </ul>
      </nav>
      <button
        id="hamburguer-menu-btn"
        (click)="toggleSliderMenu()"
        [class.ham_btn_active]="sliderMenuOpen"
        class="inline-block lg:hidden p-[5px] md:p-[10px] border border-gray-400 rounded-2xl ml-auto"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-12 w-12 md:w-16 md:h-16"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
  </div>
  
  <section
    class="slider__menu rounded-2xl border-2 border-gray-500 drop-shadow-md shadow-inner p-4 wrapper-menu"
    [class.slider__menu_open]="sliderMenuOpen"
    [class.slider__menu_closed]="!sliderMenuOpen"
  >
    <ul class="flex flex-col">
      <li
        (click)="navigateFromSliderMenuTo('/home')"
        class="p-4 border-b text-[24px] cursor-pointer hover:opacity-60 active:font-semibold"
      >
        Home
      </li>
      <li
        (click)="navigateFromSliderMenuTo('/contact-us')"
        class="p-4 border-b text-[24px] cursor-pointer hover:opacity-60 active:font-semibold"
      >
        Contact us
      </li>
      <li
        (click)="navigateFromSliderMenuTo('/services')"
        class="p-4 border-b text-[24px] cursor-pointer hover:opacity-60 active:font-semibold"
      >
        Services
      </li>
      <ul class="ml-6">
        <li
          (click)="navigateFromSliderMenuTo('/services/consulting')"
          class="p-2 text-[20px] cursor-pointer hover:opacity-60 active:font-semibold"
        >
          - Consulting
        </li>
        <li
          (click)="navigateFromSliderMenuTo('/services/coaching')"
          class="p-2 text-[20px] cursor-pointer hover:opacity-60 active:font-semibold"
        >
          - Coaching
        </li>
        <li
          (click)="navigateFromSliderMenuTo('/services/training')"
          class="p-2 text-[20px] cursor-pointer hover:opacity-60 active:font-semibold"
        >
          - Training
        </li>
      </ul>
      <li
        (click)="navigateFromSliderMenuTo('/experiences')"
        class="p-4 border-b text-[24px] cursor-pointer hover:opacity-60 active:font-semibold"
      >
        Experiences
      </li>
      <li
        (click)="navigateFromSliderMenuTo('/gallery')"
        class="p-4 border-b text-[24px] cursor-pointer hover:opacity-60 active:font-semibold"
      >
        Gallery
      </li>
      <li
        (click)="navigateFromSliderMenuTo('/about-us')"
        class="p-4 border-b text-[24px] cursor-pointer hover:opacity-60 active:font-semibold"
      >
        About us
      </li>
    </ul>
  </section>
</section>
