<app-topmenu></app-topmenu>
<section class="wrapper">
  <div class="flex flex-col mt-[200px]">
    <h1 class="font-pt-sans md:font-bold text-[16vw] sm:text-[80px] pb-[40px]">
      About us
    </h1>
    <div class="flex flex-col-reverse 2xl:flex-row gap-[20px] md:gap-[40px]">
      <div
        class="bg-[#D0E1DF] rounded-r-[60px] md:rounded-r-[100px] p-[10px] md:p-[60px] flex flex-col"
      >
        <p class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
          A compass shows the way to the destination.
        </p>
        <p
          class="2xl:mt-[50px] font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]"
        >
          City Compass provides orientation in the complex global business world
          - with intercultural consulting and mentoring, executive coaching and
          training, and with a profound network in Romania and Germany.
        </p>
      </div>
      <div>
        <figure class="w-full rounded-[80px] overflow-clip 2xl:hidden">
          <img
            class="w-full"
            src="./assets/img/about-us-compass-1024.webp"
            alt=""
          />
        </figure>
        <figure
          class="h-[600px] w-[600px] rounded-[80px] overflow-clip hidden 2xl:inline-block"
        >
          <img
            class="w-full"
            src="./assets/img/about-us-compass-600.webp"
            alt=""
          />
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="wrapper">
  <div
    class="flex flex-col bg-[#F1EDED] rounded-tl-[60px] rounded-br-[60px] p-[10px] md:p-[50px]"
  >
    <div class="flex flex-col-reverse 2xl:flex-row gap-[40px] mb-[10px]">
      <p class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
        &nbsp; Volker Moser and Christian Pauls, the founding members of City
        Compass, started themselves as expats in Bucharest and have been serving
        the expat community since 2007.
      </p>
      <div
        class="flex flex-row w-full justify-center 2xl:justify-start 2xl:w-[340px] shrink 2xl:shrink-0"
      >
        <!-- images -->
        <figure class="z-10">
          <img
            class="rounded-full max-h-[300px] 2xl:h-[200px] border-[10px] sm:border-[15px] border-white object-contain"
            src="/assets/img/profiles/Cristian-Pauls-220.webp"
            alt="Christian Pauls profile picture"
          />
        </figure>
        <figure class="ml-[-50px] object-contain">
          <img
            class="rounded-full max-h-[300px] 2xl:h-[200px] border-[10px] sm:border-[15px] border-white object-contain"
            src="/assets/img/profiles/Volker-Moser-sq-grey.webp"
            alt="Volker Moser profile picture"
          />
        </figure>
      </div>
    </div>
    <p class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
      They share their many years of experience with people and companies from
      different cultures with competence and passion - in Romania, Germany,
      Europe and around the world.
    </p>
  </div>
</section>

<section class="wrapper">
  <div
    class="flex flex-col bg-[#0080bb47] p-[20px] md:p-[50px] gap-[20px] rounded-t-[50px] md:rounded-t-[100px]"
  >
    <div class="flex flex-col 2xl:flex-row gap-[40px]">
      <div class="flex flex-col">
        <h2 class="font-pt-sans md:font-bold text-[42px] mb-[50px]">Our Mission</h2>
        <p class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
          Our mission is to empower individuals and teams to successfully enter
          and thrive in Romania, Europe, and any country or culture where they
          live and work. We recognize the importance of virtual teams and online
          communication, being a fundamental part of our project setup since
          2008.
        </p>
      </div>
      <div>
        <figure
          class="w-full 2xl:w-[600px] 2xl:h-[600px] rounded-[50px] md:rounded-[100px] overflow-clip"
        >
          <img
            class="w-full"
            src="./assets/img/rocket_across_space-600.webp"
            alt="A rocket launched to outer space"
          />
        </figure>
      </div>
    </div>
    <div>
      <p class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
        We are dedicated to providing consulting and coaching services to
        specialists and executives, supporting them in achieving their
        individual objectives as well as their broader purpose, mission, and
        vision for their teams.
      </p>
    </div>
  </div>
</section>

<section class="wrapper">
  <div
    class="flex flex-col bg-[#a1c4c0] p-[20px] md:p-[50px] gap-[20px] rounded-b-[50px] md:rounded-b-[100px]"
  >
    <div class="flex flex-col 2xl:flex-row gap-[40px]">
      <div class="w-full flex flex-col">
        <h2 class="text-right font-pt-sans md:font-bold text-[42px] mb-[50px]">
          Our Passion
        </h2>
        <div class="flex flex-col">
          <div class="flex flex-col 2xl:flex-row gap-[20px] md:gap-[40px]">
            <div class="w-full 2xl:min-w-[600px]">
              <figure
                class="w-full rounded-[50px] md:rounded-[100px] overflow-clip"
              >
                <img
                  class="w-full"
                  src="./assets/img/heart_illustration-600.webp"
                  alt="An ilustration of a Heart drawn with other hearts on the inside"
                />
              </figure>
            </div>
            <div>
              <p
                class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]"
              >
                Our passion is to share our hands-on entrepreneurial experiences
                whether online or onsite and to use this knowledge to support
                others.
              </p>
              <p
                class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]"
              >
                Above all, the business experiences of our co-founders, Volker
                and Christian, have been shaped by a wide range of industries,
                countries, and people of different origins and cultures.
              </p>
            </div>
          </div>
        </div>
        <p class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
          This diversity of experience allows us to truly understand the
          challenges faced by those working together with people from other
          cultures and countries.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="w-full h-[150px]"></div>

<app-footer></app-footer>
