<app-topmenu></app-topmenu>
<header class="wrapper">
  <section class="istok-web-bold mt-[150px] text-[16vw] sm:text-[80px]">
    <h1 class="">Consulting</h1>
  </section>
</header>
<main class="wrapper">
  <section
    class="flex flex-col 2xl:flex-row gap-[20px] md:gap-[40px] items-center 2xl:mt-[-50px]"
  >
    <figure
      class="w-[100%] 2xl:h-[400px] 2xl:w-[400px] rounded-t-[80px] 2xl:rounded-tr-none 2xl:rounded-l-[80px] overflow-clip shrink-0"
    >
      <img class="w-full" src="./assets/img/consulting-conv-800.webp" alt="" />
    </figure>
    <div
      class="font-Inter font-normal 2xl:h-[400px] rounded-b-[80px] 2xl:rounded-bl-none 2xl:rounded-r-[80px] text-[4vw] xl:text-[27px] bg-[#D9D9D9] p-[30px]"
    >
      <h1 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Expert Consulting for global success
      </h1>
      <p class="2xl:mt-4">
        Gain a competitive edge with our hand-selected consultants, personally
        vetted by City Compass founders. Their real-world experience delivers
        tailored solutions for intercultural challenges, sales optimization, and
        organizational success.
      </p>
    </div>
  </section>
  <section
    class="mt-[66px] md:mt-[100px] bg-[#b7deda] p-[20px] md:p-[50px] rounded-r-[80px] rounded-b-[80px]"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <div class="font-Inter font-normal text-[4vw] xl:text-[27px]">
        <h2 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
          Intercultural Consulting
        </h2>
        <figure class="xl:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="200"
            viewBox="0 -960 960 960"
            width="200"
            style="fill: #05618d; margin: 0 auto"
          >
            <path
              d="M280-80v-40q-33 0-56.5-23.5T200-200v-440q0-33 23.5-56.5T280-720h80v-120q0-17 11.5-28.5T400-880h160q17 0 28.5 11.5T600-840v120h80q33 0 56.5 23.5T760-640v440q0 33-23.5 56.5T680-120v40h-80v-40H360v40h-80Zm160-640h80v-80h-80v80Zm40 240q53 0 103.5-13.5T680-534v-106H280v106q46 27 96.5 40.5T480-480Zm-40 120v-42q-42-5-82-15t-78-27v244h400v-244q-38 17-78 27t-82 15v42h-80Zm40 0Zm0-120Zm0 36Z"
            />
          </svg>
        </figure>
        <ul class="font-Inter font-normal mt-2 text-[4vw] xl:text-[27px]">
          <li>Intercultural self-awareness in Business.</li>
          <li>Intercultural Sales Coaching.</li>
          <li>Business Etiquettes in European countries.</li>
          <li>Communication across cultures.</li>
          <li>Negotiation Consulting and Support.</li>
        </ul>
      </div>
      <figure class="hidden xl:block">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="250"
          viewBox="0 -960 960 960"
          width="250"
          style="fill: #05618d; margin: 0 auto"
        >
          <path
            d="M280-80v-40q-33 0-56.5-23.5T200-200v-440q0-33 23.5-56.5T280-720h80v-120q0-17 11.5-28.5T400-880h160q17 0 28.5 11.5T600-840v120h80q33 0 56.5 23.5T760-640v440q0 33-23.5 56.5T680-120v40h-80v-40H360v40h-80Zm160-640h80v-80h-80v80Zm40 240q53 0 103.5-13.5T680-534v-106H280v106q46 27 96.5 40.5T480-480Zm-40 120v-42q-42-5-82-15t-78-27v244h400v-244q-38 17-78 27t-82 15v42h-80Zm40 0Zm0-120Zm0 36Z"
          />
        </svg>
      </figure>
    </div>
  </section>
  <section
    class="mt-[20px] md:mt-[66px] bg-[#F1EDED] p-[20px] md:p-[50px] rounded-t-[80px] rounded-br-[80px] font-Inter font-normal text-[4vw] xl:text-[27px]"
  >
    <div
      class="flex flex-col xl:flex-row gap-[20px] md:gap-[40px] justify-evenly"
    >
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="250"
          viewBox="0 -960 960 960"
          width="250"
          class="my-0 mx-auto fill-[#05618d]"
        >
          <path
            d="M361-80q-14 0-24.5-7.5T322-108L220-440H80v-80h170q13 0 23.5 7.5T288-492l66 215 127-571q3-14 14-23t25-9q14 0 25 8.5t14 22.5l87 376 56-179q4-13 14.5-20.5T740-680q13 0 23 7t15 19l50 134h52v80h-80q-13 0-23-7t-15-19l-19-51-65 209q-4 13-15 21t-25 7q-14-1-24-9.5T601-311l-81-348-121 548q-3 14-13.5 22T361-80Z"
          />
        </svg>
      </figure>
      <div>
        <h2 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
          Sales Consulting
        </h2>
        <ul class="font-Inter font-normal 2xl:mt-4 text-[4vw] xl:text-[27px]">
          <li>Intercultural Sales Coaching</li>
          <li>Sales Process Assessment</li>
          <li>Sales Mentoring</li>
          <li>Intercultural self-awareness in Business</li>
          <li>Investor Relations Management</li>
        </ul>
      </div>
    </div>
  </section>
  <section
    class="mt-[66px] md:mt-[100px] flex flex-col 2xl:flex-row gap-[20px] md:gap-[66px] items-center"
  >
    <div
      class="w-[100%] 2xl:h-[400px] 2xl:w-[400px] p-[30px] md:p-[50px] rounded-r-[80px] overflow-clip shrink-0 bg-[#b7deda] font-Inter font-normal text-[4vw] xl:text-[27px]"
    >
      <h1 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Organizational Design
      </h1>
      <ul class="2xl:mt-4">
        <li>Organizational Culture Assessment</li>
        <li>Process Redesign</li>
      </ul>
    </div>
    <div
      class="font-Inter font-normal 2xl:h-[400px] text-[4vw] xl:text-[27px] bg-[#D9D9D9] rounded-l-[80px] p-[30px] md:p-[50px]"
    >
      <h1 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Expert Consulting for global success
      </h1>
      <p class="2xl:mt-4">
        Gain a competitive edge with our hand-selected consultants, personally
        vetted by City Compass founders. Their real-world experience delivers
        tailored solutions for intercultural challenges, sales optimization, and
        organizational success.
      </p>
    </div>
  </section>
  <section
    class="mt-[20px] md:mt-[66px] flex flex-col-reverse 2xl:flex-row gap-[20px] md:gap-[66px] items-center"
  >
    <div
      class="font-Inter font-normal w-full 2xl:h-[500px] text-[4vw] xl:text-[27px] bg-[#F1EDED] rounded-r-[80px] p-[30px] md:p-[50px]"
    >
      <h1 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Management Consulting with focus on People
      </h1>
      <ul class="2xl:mt-4">
        <li class="list-disc ml-[40px]">
          Competency mapping per job functions and levels
        </li>
        <li class="list-disc ml-[40px]">Training and development strategy</li>
        <li class="list-disc ml-[40px]">Career progression mapping</li>
        <li class="list-disc ml-[40px]">
          HR process analysis and redesign (process mapping and improvement)
        </li>
      </ul>
    </div>
    <div
      class="w-[100%] 2xl:h-[500px] 2xl:w-[500px] p-[30px] md:p-[50px] rounded-l-[80px] overflow-clip shrink-0 bg-[#BFDFEE] font-Inter font-normal text-[4vw] xl:text-[27px]"
    >
      <h1 class="font-semibold py-2 text-[calc(4vw + 10px)] xl:text-[37px]">
        Change Management
      </h1>
      <ul class="2xl:mt-4">
        <li class="list-disc ml-[40px]">
          Communication & Mobilization (Post Merger Integration, Major
          Transitions, Relocation)
        </li>
        <li class="list-disc ml-[40px]">Stakeholder engagement</li>
        <li class="list-disc ml-[40px]">
          Communications planning and execution
        </li>
        <li class="list-disc ml-[40px]">Engagement surveys</li>
      </ul>
    </div>
  </section>
  <section
    class="mt-[66px] md:mt-[100px] bg-[#dcdcdc] box__shadow p-[20px] md:p-[50px] rounded-[60px]"
  >
    <div
      class="flex flex-col font-Inter font-normal text-[4vw] xl:text-[27px] text-center"
    >
      <p>Let's transform your global ambitions into reality.</p>
      <div class="p-6">
        <a routerLink="/contact-us">
          <button
            class="py-[10px] px-[60px] rounded-full drop-shadow-lg bg-[#3771C8] text-white font-medium hover:opacity-60 transition-all ease-in-out duration-200"
          >
            Contact us
          </button>
        </a>
      </div>
      <p>to explore how we can empower your success.</p>
    </div>
  </section>
</main>
<footer class="mt-[100px]">
  <app-footer></app-footer>
</footer>
