<app-topmenu></app-topmenu>
<header class="wrapper">
  <section class="istok-web-bold mt-[150px] text-[16vw] sm:text-[80px]">
    <h1 class="">Services</h1>
  </section>
</header>
<main class="wrapper">
  <section
    class="flex flex-col-reverse 2xl:flex-row gap-[20px] md:gap-[40px] items-center 2xl:mt-[-50px]"
  >
    <div
      class="font-Inter font-normal text-[4vw] xl:text-[27px] bg-[#a1c4c0] rounded-r-[80px] p-[30px]"
    >
      <p>
        City Compass is your go-to-market partner for success in the global
        business world. Our team of former expats and passionate professionals
        brings deep expertise in intercultural dynamics, business strategy, and
        leadership development. We empower individuals, teams, and organizations
        to navigate international challenges, build cross-cultural
        understanding, and achieve their full potential.
      </p>
      <p>
        We offer a comprehensive suite of services tailored to meet your unique
        needs.
      </p>
    </div>
    <figure
      class="w-[100%] 2xl:h-[400px] 2xl:w-[400px] rounded-[80px] overflow-clip shrink-0"
    >
      <img
        class="w-full"
        src="./assets/img/consulting-services-600.webp"
        alt=""
      />
    </figure>
  </section>
  <section
    class="mt-[20px] md:mt-[66px] bg-[#BFDFEE] p-[20px] md:p-[50px] rounded-l-[80px]"
  >
    <h2 class="istok-web-bold text-[42px] mb-[50px]">1. Consulting</h2>
    <ul class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
      <li class="list-disc ml-[30px]">
        Intercultural Consulting: Gain insights into cultural differences, sales
        strategies, communication styles, negotiation tactics, and more.
      </li>
      <li class="list-disc ml-[30px]">
        Management Consulting: Optimize your business processes, organizational
        culture, and performance for efficiency and success.
      </li>
      <li class="list-disc ml-[30px]">
        Change Management: Navigate transitions smoothly and effectively, from
        mergers and acquisitions to major relocations, with expert guidance.
      </li>
    </ul>
  </section>
  <section
    class="mt-[20px] md:mt-[66px] bg-[#d9d9d9] p-[20px] md:p-[50px] rounded-r-[80px]"
  >
    <h2 class="istok-web-bold text-[42px] mb-[50px]">2. Coaching</h2>
    <ul class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
      <li class="list-disc ml-[30px]">
        Business & Executive Coaching: Develop your leadership skills,
        problem-solving acumen, and strategic decision-making abilities.
      </li>
      <li class="list-disc ml-[30px]">
        Team Coaching: Enhance collaboration, foster conflict resolution, and
        create a shared vision for your team.
      </li>
      <li class="list-disc ml-[30px]">
        Specialized Coaching: Benefit from targeted mentoring and coaching
        programs in areas of positive intelligence, mental fitness, career
        development, and performance enhancement.
      </li>
    </ul>
  </section>
  <section
    class="mt-[20px] md:mt-[66px] bg-[#a1c4c0da] p-[20px] md:p-[50px] rounded-l-[80px]"
  >
    <h2 class="istok-web-bold text-[42px] mb-[50px]">
      3. Training & Development
    </h2>
    <p class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
      Our training programs are designed to equip you and your team with
      essential skills for the global workplace. Here are a few examples of our
      offerings:
    </p>
    <ul class="font-Inter font-normal mt-[40px] text-[4vw] xl:text-[27px]">
      <li class="list-disc ml-[30px]">
        International Success Strategies: Navigate multinational environments,
        communication styles, and meeting expectations.
      </li>
      <li class="list-disc ml-[30px]">
        Cross-Cultural Leadership: Develop the cultural sensitivity and
        adaptability needed to lead diverse teams.
      </li>
      <li class="list-disc ml-[30px]">
        Change Management: Learn to lead change initiatives with confidence and
        positive outcomes.
      </li>
      <li class="list-disc ml-[30px]">
        Specialized Topics: We offer a range of customized training on growth
        mindset, mental fitness, effective business writing, unconscious bias,
        LinkedIn optimization, and more.
      </li>
    </ul>
  </section>
  <section
    class="mt-[20px] md:mt-[66px] bg-[#dcdcdc] box__shadow p-[20px] md:p-[50px] rounded-[60px]"
  >
    <div
      class="flex flex-col font-Inter font-normal text-[4vw] xl:text-[27px] text-center"
    >
      <p>Let's transform your global ambitions into reality.</p>
      <div class="p-6">
        <a routerLink="/contact-us">
          <button
            class="py-[10px] px-[60px] rounded-full drop-shadow-lg bg-[#3771C8] text-white font-medium hover:opacity-60 transition-all ease-in-out duration-200"
          >
            Contact us
          </button>
        </a>
      </div>
      <p>to explore how we can empower your success.</p>
    </div>
  </section>
</main>
<footer class="mt-[100px]">
  <app-footer></app-footer>
</footer>
