/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("ttf");
}

@font-face {
  font-family: "Istok";
  src: url("/assets/fonts/Istok_Web/IstokWeb-Bold.ttf") format("ttf");
  src: url("/assets/fonts/Istok_Web/IstokWeb-BoldItalic.ttf") format("ttf");
  src: url("/assets/fonts/Istok_Web/IstokWeb-Italic.ttf") format("ttf");
  src: url("/assets/fonts/Istok_Web/IstokWeb-Regular.ttf") format("ttf");
}

.istok-web-regular {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.istok-web-bold {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.istok-web-500 {
  font-family: "Istok Web", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.istok-web-regular-italic {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.istok-web-bold-italic {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.inter-100 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-200 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-300 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-800 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-900 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.wrapper {
  margin: 10px auto 0;
  padding: 0 20px;
}
.box__shadow {
  box-shadow: 2px 2px 7px black;
}

@media (min-width: 500px) {
  .wrapper {
    max-width: 1500px;
    margin: 30px auto 0;
    padding: 0 50px;
  }
}

@media (min-width: 1536px) {
  .wrapper {
    max-width: 1500px;
    margin: 100px auto 0;
    padding: 0 100px;
  }
}
